*{
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color:#436e7c;
    font-family: "Roboto", sans-serif; 
    background-image: url(../img/fondopantalla.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
#contenido {
    max-width: 1200px;
    margin: auto;
}
h1{
    position: fixed;
    background-color: #08306b;
    border: 2px solid #29328a;
    text-align: center;
    color: #F4EDED;
    padding: 10px;
    height: 60px;
    width: 100%;
}
nav ul{
    list-style: none;
    margin-top: 4em;
    margin-right: 1.5em; 
    width: 100%;
    text-align: center;
}
nav a{
    display: block;
    margin: 1em;
    text-align: center;
    text-decoration: none;
    color: black;
    font-weight: bold;
}
a:hover{
    color: #4728c2;
    text-decoration: none;
}
.color{
    width: 90%;
}
.description{
    background-color: rgb(243, 202, 234);
}
.serie{
    background-color: rgb(173, 229, 229);
}
.personajes{
    background-color: beige;
}
.episodios{
    background-color: rgb(230, 199, 161);
}
.vid{
    background-color: #f1c1c1;
}
.club{
    background-color: #e3f1c1;
}
.autor{
    background-color: #e6f1e3;
}
.contenedor{
    display: flex;
    justify-content: center;
    line-height: 3em;
    width: 100%;
    text-transform: uppercase;
}
h2{
    text-align: center;
    text-transform: uppercase;
    color: #F4EDED;
    text-shadow: 1px 2px black;
    margin-bottom: 20px;
}
h3{
    text-shadow: 1px 2px black;
}
h3, h4{
    color:#F4EDED;
    text-align: center;
}
#poster, #poster2{
    display: none;
}
#serie{
    max-width: 700px;
    padding: 10px;
    background: whitesmoke;
    margin-bottom: 20px;
    margin-top: 10px;
}
article h3{
    text-align: center;
    font-size: 20px;
}
#Autor{
    text-align: center;
}
section{
    margin: 20px;
    padding: 0.5em;
    border: thin solid transparent;
}
img{
   display: block;
   width: 100%;
   border-radius: 5%;
}
p{
    line-height: 1.5em;
    text-align: left;
}
#Personajes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    justify-content: center;
}
#Personajes div {
    padding: 1.5em;
    margin: 1rem auto;
    width: 100%;
    max-width: 500px;
    border: 3px solid whitesmoke;
    background-color: #18355f;
    box-sizing: border-box;
}
#Personajes h3 {
    text-transform: uppercase;
    text-align: center;
    margin: 0.5em 0;
    word-wrap: break-word;
}

#Personajes img {
    max-width: 100%;
    height: auto;
    display: block;
    margin:0 auto;
}
.video1{
    text-align: center;
    border: solid 5px #144c83;
    background: linear-gradient(#144c83, #2da8ea);
    margin-top: 30px;
    margin-bottom: 20px;
}
aside p{
    text-align: center;
}
#contenedorForm{
    width: 70%;
    margin: 0 auto;
    background: #2b508d;
    padding: 30px;
    margin-top: 10px;
    margin-bottom: 30px;
    border: 5px double rgb(147, 204, 220);
}
#contenedor h2{
    font-size: 24px;
}
#contenedorForm #Form{
    margin-top: 20px;
} 
input, textarea{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    padding-left: 5px;
    height: 40px;
    padding-right: 5px;
}
input[type="submit"]{
    width: 30%;
    height: 30px;
    color: white;
    background: #18355f;
    background: linear-gradient(#144c83, #2da8ea);
    float: right;
    text-transform: uppercase;
    border: 0;
    margin-top: -0.5em;
}
input[type="submit"]:hover{
    background: linear-gradient(#2da8ea, #144c83);
    color: black;
}
textarea{
    resize: none;
    height: 50px;
}
footer ul{
    list-style: none;
    text-align: center;
    color: #F4EDED;
    line-height: 1.5em;
    padding: 20px;
}
footer h3{
    text-align: center;
    text-transform: uppercase;
}
#logo{
    display: none;
}

/*Tablet*/
@media screen and (min-width: 576px){
    h1{
        margin: auto;
    }
    h2{
        background-color: #08306b;
        text-align: center;
        margin-bottom: 10px;
        width: 100%;
    }
    h3, h4{
        margin-top: 20px;
    }
    #poster, #serie, #poster2{
        display: block;
        max-width: 400px;
        margin: auto;
        border: double  5px #08306b;
        background: whitesmoke;
        border-radius: 5%;
    }
    section p{
        margin-top: 20px;
    }
    nav ul li{
        display: inline-block;
        min-width: 150px;
        height: 60px;
        text-align: center;
        margin-top: 10px;  
    }
    #Personajes div{
        box-shadow: 2px 2px black;
    }

    .Club{
        margin-top: 20PX;
    }
    #contenedorForm{
        width: 70%;
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }
   
    #logo{
        display: block;
        max-width: 500px;
        text-align: center;
        margin: auto;
    }
    #logo :hover{
        border: 4px double #08306b;
        border-radius: 50%;
    }
    #Autor{
        background-image: url(../img/autor.jpg);
        width: 250px;
        height: 300px;
        background-size: cover;
        border-radius: 50%;
        margin: 0 auto;
        border: 2px solid #08306b;
        padding: 20px;
        margin-top: 20px;
    }
    footer li{
        color: black;
        text-shadow: 1px 1px #08306b;
    }

 /*PC*/
 @media screen and (min-width: 994px){
    #Personajes { 
        display: grid; 
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
        gap: 1rem; 
        justify-content: center; 
    } 
    #Personajes div { 
        padding: 1.5em; 
        margin: 1rem auto; 
        width: 100%; 
        max-width: 500px; 
        border: 3px solid #08306b; 
        background-color: #18355f; 
        box-sizing: border-box; 
    } 
    #Personajes h3 { 
        text-transform: uppercase; 
        text-align: center; 
        margin: 0.5em 0; 
        word-wrap: break-word; 
    } 
    #Personajes img { 
        max-width: 100%; 
        height: auto; 
        display: block; 
        margin: auto;
    }
    #poster, #serie, #poster2{
        max-width: 600px; 
    }
    aside p{
        text-align: center;
    }
    #contenedorForm{
        width: 80%;
        margin: 0px auto;
        background: linear-gradient(#77bee4, #144c83);
        border-radius: 5px;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    input[type="submit"]{
        background: #18355f;
        width: 100%;
    }
    #logo{
        background: linear-gradient(#77bee4, #144c83);
        border-radius: 50%;
        border: 5px double #08306b;
        max-width: 600px;
    }
    #logo :hover{
        background: linear-gradient(#144c83, #77bee4);
        border: 3px double black;
        border-radius: 50%;
    }
    #Autor{
        max-width: 250px;
        border: 5px double #08306b;
    }
    #Autor:hover{
        border: 5px double whitesmoke;
    }
    footer ul {
        background : linear-gradient(#144c83, #77bee4);
        margin-top : 20px;
        color : black;
    }
    footer h3{
        background-color: #08306b;
    }
